<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.privatetutorplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrivateTutorPlanner">
        <activity android:name=".assignment_class_ret"></activity>
        <activity android:name=".Assignment_Exist" />
        <activity android:name=".assign_update" />
        <activity android:name=".MainPage"></activity>
        <activity android:name=".ClassStudentList" />
        <activity android:name=".ClassEdit" />
        <activity android:name=".ClassIndividual" />
        <activity android:name=".ClassBasedDays" />
        <activity android:name=".StudentEditStudentForm" />
        <activity android:name=".assign_update" />
        <activity android:name=".assign_childAdpt" />
        <activity android:name=".asssignment_ret_adapt1" />
        <activity android:name=".assignment_ret" />
        <activity android:name=".ClassAdd" />
        <activity android:name=".StudentDisplayStudent" />
        <activity android:name=".StudentStudentSearch" />
        <activity android:name=".studentPannel" />
        <activity android:name=".StudentAddnewstudentActivity" />
        <activity android:name=".ClassAdd" />
        <activity android:name=".ClassDashboard" />
        <activity android:name=".Assignment_add" />
        <activity android:name=".ModuleAdd" />
        <activity android:name=".Modules_List" />
        <activity android:name=".MainActivity"/>



        <activity android:name=".initialLoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>